/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata', serif;

}

body {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.center-button {
    margin: 0 auto;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

#logo {
    width: 160px;
    height: auto;
}

.navbar {
    -webkit-animation: 1s navbarfade 0.5s forwards;
            animation: 1s navbarfade 0.5s forwards;
    opacity: 0;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

.toggler-button:focus {
    outline: none;
}

.toggler-icon-bars {
    color:white;
}



@-webkit-keyframes navbarfade {
    100% {
        opacity: 1;
    }
}



@keyframes navbarfade {
    100% {
        opacity: 1;
    }
}

.brand-margins {
    margin-left: 1.4rem;
    margin-top: 1.4rem;
}

.brand-margins-scrolled {
    margin-left: 1.4rem;
}

.nav-item {
    margin: 2px;
}

.navbar-nav .nav-item .nav-link{
    color: white;
    font-size: 1.4rem;
    position: relative;
    text-align: center;
}

.navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.navbar-nav .nav-item .nav-link::before{
    border-bottom: 2px solid #ececd7;
    visibility: hidden;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: 0.3s ease-in-out 0s;
    -o-transition: 0.3s ease-in-out 0s;
    transition: 0.3s ease-in-out 0s;
    position: absolute;
    bottom: 6px; 
    left: 0;
    width: 100%;
    content: "";
}


.navbar-nav .nav-item .nav-link:hover::before {
    border-bottom: 2px solid #ececd7;
    visibility: visible;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}

.drop-links:hover {
    background-color: white;
}

.dropdown-menu {
    /* color: #192951; */
    padding: 10px;
    border: 1px solid #192951;
    border-radius: 0;
}

.drop-links {
    color: #192951;
}

#covid {
    border: 1px solid red;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    text-align: center;
}

#covid:hover {
    border: 1px solid transparent;
}

#section-1 {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-height: 100vh;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section-1-content {
    opacity: 0;
    margin-top: 150px;
    -webkit-animation: 1s slidefade 1s forwards;
            animation: 1s slidefade 1s forwards;
}

@-webkit-keyframes slidefade {
    100% {
        opacity: 1;
        margin-top: 50px;
    }
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin-top: 50px;
    }
}

.section-1-header1 {
    margin-top: 50px;
    font-size: 4.5rem;
    letter-spacing: 2px;
}


#background-image {
    background-image: url("images/hotel-view-3.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#section-2 {
    min-height: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.align-mid {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.bg-color {
    background-color: #fef8dd;
}

.blue-text {
    color: #192951;
}

.light-bg-color {
    background-color: #ececd7;
    left: -35%;
    position: absolute;
    width: 135%;
    height: 110%;
    z-index: -1;
}

@media (max-width: 768px){
    .light-bg-color {
        background-color: #ececd7;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

@media (max-width: 768px){
    .rel-pos .light-bg-color-left {
        background-color: #ececd7;
        right: 0;
        /* left: 0; */
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    /* #big-navbar-rooms {
        margin: 8px 0 8px 0;
        padding: 8px 0 8px 0;
    } */
}

rel-pos {
    position: relative;
}

.content-title {
    margin-top: 40px;
    /* margin-left: 20px; */
}

.moto { 
    font-size: 1.5rem;
}
 
#customers {
    color: #c5ab91;
}

hr {
    border-top: 5px solid #f7d8ba;
    margin-left: 60px;
}

.text-content {
    color: #192951;
    padding: 2rem;
    font-size: 18px;
    line-height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 90%;
}

@media (max-width:1013px) {
    .text-content {
        width:100%;
    }
}

.centered {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.mid-p {
    margin: 20px 0 20px 0;
}

.loyalty-img {
    background-image: url("images/hotel-3-darker.jpg");
    height: 35vh; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 10%;
    z-index: -1;
}

@media (max-width: 635px){
    .loyalty-img {
        height: 50vh;
    }
    .member-club {
        font-size: 2.5rem;
    }
}

.loyalty-info {
    color: white;
    border: 1px solid white;
    padding: 20px;
    width: 70%;
    font-size: 1.1rem;
}

.member-club {
    font-size: 3.3rem;
}

.arrow {
    position: relative;
    top: 5px;
}

.loyalty-link {
    color: white;
    text-decoration: none!important;
}

.loyalty-link:hover {
    color: #c5ab91;
}

#location-section {
    min-height: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.beach-img:hover {
    opacity: 0.4;
}

.behind-color {
    background-color: #111c38;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.behind-color:hover .beach-info {
    opacity: 1;
}

.beach-info {
    position: absolute;
    padding: 12%;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

.beach-name {
    color: white;
}

.footer {
    background-color: #ececd7;
    color: #192951;
}

.footer-logo {
    width: 400px;
    height: auto;
}

.copyright {
    font-size: 16px;
}

.policy {
    font-size: 16px;
}

.pol {
    color: #192951;
}

.pol:hover {
    color: #192951;
}

.help-button {
    border-radius: 20px;
    background-color: #192951;
    outline: none;
    border: none;
    font-size: 1.6rem;
    position: fixed;
    z-index: 5;
    bottom: 40px;
    right: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.help-button:hover {
    background-color: #192951;
    color: #ddc0a4;
}

@media (max-width: 511px){
    .help-button {
        bottom: 60px;
    }
}

@media (max-width: 435px){
    .help-button {
        bottom: 120px;
    }
}

.contact-title {
    font-size: 1.5rem;
    color: #b7a08b;
}

.contact-info > p {
    font-size: 1.2rem;
}

.follow-title {
    font-size: 1.5rem;
    color: #b7a08b;
}

.follow-info {
    font-size: 1.2rem;
}

.arrow-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -10px;
}

.scroll-down {
    position: absolute;
    bottom: 48px;
    left: 50%;
    margin-left: -42px;
    opacity: 0;
    -webkit-animation: 1.8s scrolldown 1.5s linear;
            animation: 1.8s scrolldown 1.5s linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes scrolldown {
    50% {
        opacity: 1;
    }

    100% {
        bottom: 28px;
        opacity: 0;
    }
}

@keyframes scrolldown {
    50% {
        opacity: 1;
    }

    100% {
        bottom: 28px;
        opacity: 0;
    }
}


.animate__animated .animate__bounceOutRight {
    --animate-delay: 0.1s;
}

.animate__animated .animate__bounceInRight {
    --animate-delay: 0.1s;
}

/* ACCOMMOIDATION */

#big-navbar-rooms {
    background-color: white;
}

#rooms {
    position: relative;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-height: 70vh;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 73px;
}

#background-image-suite {
    background-image: url("images/suite-0.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-image-room {
    background-image: url("images/room-1.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

 .rooms-content {
    border: 5px solid white;
    padding: 20px;
    background-color: rgba(41, 22, 71, 0.7);
    
}

.rooms-header1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-shadow: 0px 0px 20px #0a1122;
    color: white;
    letter-spacing: 3px;
    
}

 .suite-content {
    border: 5px solid white;
    padding: 20px;
    background-color: rgba(91, 96, 98, 0.7);
}

.suite-header1 {
    font-size: 4.5rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-shadow: 0px 0px 20px #0a1122;
    color: white;
    letter-spacing: 3px;
}

@media (max-width:768px) {
    #rooms {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .suite-header1 {
        font-size: 2.5rem;
    }

    .rooms-header1 {
        font-size: 2.5rem;
    }
}

#suite-begin {
    min-height: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#gym-begin {
    margin-bottom: 40px;
}

/* TODO */
/* #contact-begin {
    margin-top: ;
} */

.light-bg-color-left {
    background-color: #ececd7;
    right: -35%;
    position: absolute;
    width: 135%;
    height: 110%;
    z-index: -1;
}


.text-content-left {
    color: #192951;
    padding: 2rem;
    font-size: 18px;
    line-height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 90%;
}


#amenities {
    color: #192951;
    font-size: 18px;
    line-height: 32px;
}

@media (max-width: 768px){
    #amenities .row {
        margin-left: 200px;
    }
}

@media (max-width: 650px){
    #amenities .row {
        margin-left: 140px;
    }
}

@media (max-width: 576px){
    #amenities .row {
        margin-left: 45px;
    }
}

@media (max-width: 384px){
    #amenities .row {
        margin-left: 0;
    }
}

#reservation .booking-form {
    width: 80%;
    padding: 20px;
    margin: 20px;
}

.booking-form {
    padding: 20px;
    margin: 20px;
}

#search-button {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.btn-outline-primary {
    color: #192951;
    border: 1px solid #192951;
    outline: none;
    
}

.btn-outline-primary:hover {
    color: white;
    background-color: #192951;
    border: 1px solid #192951;
    outline: none;
}

.anchor{
    display: block;
    height: 73px; /*same height as header*/
    margin-top: -73px; /*same height as header*/
    visibility: hidden;
}

.suites-header1 {
    z-index: 2000;
}

#indoor-activities {
    padding-bottom: 60px;
}

/*  */
#image-contact {
    position: relative;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-height: 50vh;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 73px;
}

#background-image-contact {
    background-image: url("images/hotel-2 (1).jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#image-booking {
    position: relative;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    min-height: 50vh;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 73px;
}

#background-image-booking {
    background-image: url("images/reception.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.heading-border-bottom {
    border-bottom: 2px solid #ececd7;
}

.border-right-custom {
    border-right: 4px solid #ececd7;
}

@media (max-width: 800px){
    .navbar-nav .nav-item .nav-link{
        font-size: 1.2rem;
    }
}

@media (max-width: 858px){
    .section-1-header1 {
    font-size: 3.5rem;
    }
    .section-1-header2 {
        font-size: 1.5rem;
        }
}

@media (max-width: 642px){
    .section-1-header1 {
    font-size: 3rem;
    }
    .section-1-header2 {
        font-size: 1.2rem;
        }
}

.footer h2 {
    margin-bottom: 10px;
    margin-top: 5px;
    letter-spacing: 2px;
}

h2.content-title {
    letter-spacing: 2px;
}

@media (min-width: 1275px) {
    .text-content {
        width: 75%;
    }
    .text-content-left {
        width: 75%;
    }
}

.footer-links {
    font-size: 1.15rem;
    color: #b7a08b;
}

#booking-begin {
    min-height: 150px;
}